<img src="https://meetingzero-assets.s3.us-west-1.amazonaws.com/logo.jpg" style="display: block; width: 100%; max-width: 100px; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;" />

<p>
  Hello <%= @user.first_name %>,
</p>

<p>
  <%= @organizer_user.first_name %> <%= @organizer_user.last_name %> wants you to join a workshop.
</p>

<p>
  <strong>Workshop Topic:</strong> <%= @workshop.purpose %>
</p>

<p>
  Please use this workshop ID: <%= @workshop.workshop_token %>
</p>

<p>
  Get ready to become a problem-solving and decision-making superhero.
</p>

<p>
  Enjoy!
</p>

<p>
  The MeetingZero Team
</p>